<p>Dear <%=recipientName%>,</p>
<br/>
<p>Please confirm your email by clicking the following link</p>
<a href="localhost:1337/user/<%= id %>/confirm/<%= key %>">
  localhost:1337/user/<%= id %>/confirm/<%= key %>
</a>
